<div ng-if="$ctrl.contents.length > 0" class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
        <li class="content-click {{content.CONTENT_TYPE}}"  data-id="{{content.ID}}" ng-repeat="content in $ctrl.contents" ng-click="$ctrl.selectContent(content, event)">
            <a style="font-weight: bold;">
                &nbsp; &nbsp; &nbsp; &nbsp;<i class="fa fa-fw " ng-class="{'fa-table': content.CONTENT_TYPE == 'tabla','fa-area-chart': content.CONTENT_TYPE == 'grafico'}"></i> {{content.NAME}}
            </a>
        </li>
    </ul>
</div>