<div class="box">
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre de Recepcionado Usuario:</label>
        <div class="col-sm-6">
            <p class="form-control-static">{{ closed.created_by_name }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Fecha de Recepción Usuario:</label>
        <div class="col-sm-6">
            <p class="form-control-static">{{ closed.created_at }}</p>
        </div>
    </div>
</div>