
<section class="content-header">
  <h1>  Exportador de Reportes  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title pull-left">Semanas</h3>

          <div class="col-sm-6 pull-left">
            <div class="col-sm-12">
                <select class="form-control" 
                        ng-change="$ctrl.semanaListChange()"
                        ng-model="$ctrl.semanaSelected" 
                        ng-options="item.SEMANA for item in $ctrl.semanas">
                </select>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="col-sm-10">
            <div class="selected-filters">
              <button class="btn btn-sm btn-primary" 
                      ng-click="$ctrl.exportContent()" ng-disabled="$ctrl.disallowExport"> Exportar Contenidos</button>
              
            </div>
          </div>
          <div class="col-sm-12"  ng-show="$ctrl.isLoading">
            <div class="alert alert-info alert-dismissible">
                * Generando graficos ... 
            </div>
          </div>

        </div>
        <!-- /.box-body -->

        <div id="export-section">
             <div ng-repeat="graphic in $ctrl.graphics" ng-show="false">
                <graphic-component graphic="graphic" 
                                  data="graphic.data" 
                                  hide-comments="true"
                                  filtros="$ctrl.filtros"
                                  char-id="ID-{{graphic.id}}"></graphic-component>
          </div>
        </div>
      
      </div>
      <!-- /. box -->
    </div>
  </div>
</section>